@import url(https://fonts.googleapis.com/css?family=Roboto:100,300);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,regular);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:regular);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: left;
}

.first-rectangle span {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
  margin-left: 100px;
  text-align: left;
  padding-top: 70px;
}

.first-rectangle {
  background-color: #303030;
  height: 30vh;
  display: flex;
  color: #EDEBEB;
  font-size: 100px;
}

.line {
  width: calc(100% + 40px);
  margin: 0 -20px;
  border-top: 0.5px solid black;
}

.content .pink-text {
  color: #AC6682;
  font-size: 100px;
  font-family: 'PT Sans Caption', sans-serif;
  margin-left: 100px;
  padding-top: 1px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #707070;
  font-size: 46px;
  margin-left: 100px;
  margin-right: 30px;
  line-height: 1.5;
}

.second-rectangle span {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: normal;
  margin-left: 100px;
  text-align: left;
  padding-top: 70px;
}

.second-rectangle {
  background-color: #303030;
  height: 30vh;
  display: flex;
  color: #EDEBEB;
  font-size: 100px;
}

.input-form-div {
  width: 100%;
  margin: auto;
}

.song-list-div {
  width: 100%;
  margin: auto;
  border: 0.5px solid black;
}

h1 {
  margin-bottom: 2em;
  color: #000000;
  font-weight: normal;
  text-align: left;
}

.thick {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #303030;
  text-decoration-thickness: 5px;
  text-underline-offset: 8px;
}


/* whole area of form, padding makes it bigger 10em */
form {
  margin: 0 auto;
  padding: 2em;
}

/* for label and input box, padding inbetween increases */
.form-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: .5em;
  padding-top: 30px;
}

.form-row > label {
  width: 200px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 25px;
  padding-bottom: 1em;
}

/* input box and option values, flex-grow  */
.form-row > input,
.form-row > input::placeholder {
  padding: .5em;
  flex-grow: 1;
  height: 3.5em;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  color: #707070;
  font-size: 18px;
}

.form-row > select {
  padding: .5em;
  flex-grow: 1;
  height: 4.5em;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  color: #707070;
  font-size: 18px;
}

.form-submit-btn input{
    width: 50%;
    margin-top: 4em;
    height: 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border: none;
    font-size: 20px;
    color: #EDEBEB;
    background: #303030;
}

.form-submit-btn input:hover{
    background: #EDEBEB;
    color: #303030;
  border: 1px solid #303030;
}

.song-list-div > h1 {
  color: black;
  font-size: 60px;
  font-family: 'PT Sans Caption', sans-serif;
  margin-left: 100px;
  padding-top: 1px;
  margin-bottom: .5em;
}

#songlist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0;
  padding: 0;
}

#songlist li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid gray;
/*
  padding: 1em;
  margin-bottom: 1em;
*/
}

.item {
  border: 1px solid grey;
  margin-bottom: 2px;
}

.item-mood-row {
  background-color: #F8F8F8;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 25px;
  padding: 11px;
}

.item-song-row {
  display:flex;
  flex-direction: row;
  border-top: 1px solid gray;
  padding: 12px;
}

img {
  width: 60px;
}

.item-song-name {
  flex-grow: 2;
  font-size: 20px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  margin-left: 2%;
}

.item-created-time {
  flex-grow: 1;
  color: #8B4C65;
  font-size: 20px;
  text-align: right;
}

/* link to divide songlist into two columns */
#songs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  margin-right: 2.5%;
}

/* padding controls gap between songlist row */
#songs li {
  padding: 8px;
}

.column {
  float: left;
  width: 40%;
  padding: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(211, 202, 202); /* Fallback color */
  background-color: rgba(97, 80, 80, 0.4); /* Black w/ opacity */
}

.modal-display-area {
  overflow: scroll;
  margin: auto;
  display: block;
  width: 30%;
  height: 80%;
  margin-top: 5%;
  margin-bottom: 10%;
  border: 1px solid black;
  background-color: #EDEBEB;
}

/* Modal Content (image) */
.modal-content {
  margin-top:4em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 70%;
  text-align: left;
  font-family: 'PT Sans Caption', sans-serif;
  color: black;
  padding-bottom: 0;
  padding-top: 5px;
  font-size: 30px;
}

/* Description of Modal Image */
#description-div {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  color: black;
}

#entry-description {
  padding: 0;
  font-family: 'PT Sans Caption', sans-serif;
  margin-top: 10%;
  font-size: 24px;
  margin-bottom: 10px;
}

#description {
  margin-top: 0%;
  font-size: 18px;
}

/* Del button of Modal Image  */
#del-button-div {
  margin: auto;
  display: flex;
  padding-top: 0;
  width: 70%;
}

.del-button {
  padding: 0;
  border: none;
  background: none;
  font-size: x-large;
  color: #007afe;
}

.del-button:hover,
.del-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#del-description {
  font-size: 15px;
  margin-left: 3%;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  color: black;
  padding-right: .3em;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  float: right;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 80%;
  }
}

@media (max-width: 900px) {
  #songs { grid-template-columns: repeat(1, 1fr); }
}

@media (max-width: 700px) {

.first-rectangle {
  width: 12em;
  height: 60vh;
}
  
.first-rectangle span,
.second-rectangle span {
  margin-left: 1em;
  text-align: left;
  font-size: 90px;
  line-height: 5;
}

.line {
  width: calc(100% + 820px);
  margin: 0 -20px;
  border-top: 1px solid black;
}

.content .pink-text {
  font-size: 90px;
  white-space: nowrap;
  margin-left: 1em;
}

.content p {
  font-size: 80px;
  width: 1000px;
}

.second-rectangle {
  width: 12em;
  height: 60vh;
}

h1 {
  font-size: 55px;
  margin-left: 1em;
  white-space: nowrap;
  margin-top: 100px;
}

.form-row > label {
  font-size: 50px;
  white-space: nowrap;
}

/* input box and option values, flex-grow  */
.form-row > input,
.form-row > input::placeholder,
.form-row > select,
.form-submit-btn input {
  width: 1000px;
  font-size: 50px;
}

/* #description {
  width: 1000px;
  font-size: 50px;
} */

.song-list-div {
  border: none;
}

.song-list-div > h1 {
  color: black;
  font-size: 90px;
  margin-left: 1em;
}

#songs li {
  width: 1100px;
}

.item-mood-row { 
  font-size: 50px;
}

.item-song-name,
.item-created-time {
  font-size: 40px;
}
  
img {
    width: 130px;
}
  
/* I retrieved the css positon from https://stackoverflow.com/questions/19467693/how-to-make-popup-look-at-the-centre-of-the-screen to make my popup exactly centeredapplying a negative top margin of half the div height, and a negative left margin of half the div width */

.modal-display-area {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%
}

.close {
  font-size: 80px;
}

.modal-content {
    margin-top: 10em;
}
  
#caption {
  font-size: 60px;
}

#del-description {
  font-size: 40px;
}

.del-button {
  font-size: 80px;
}

#entry-description {
  font-size: 40px;
  margin-bottom: 20px;
}

#description {
    width: 700;
    font-size: 35px;
}
  
}
