@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,regular,500,700,900);

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: left;
}

.first-rectangle span {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
  margin-left: 100px;
  text-align: left;
  padding-top: 70px;
}

.first-rectangle {
  background-color: #303030;
  height: 30vh;
  display: flex;
  color: #EDEBEB;
  font-size: 100px;
}

.line {
  width: calc(100% + 40px);
  margin: 0 -20px;
  border-top: 0.5px solid black;
}

.content .pink-text {
  color: #AC6682;
  font-size: 100px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
  margin-left: 100px;
  padding-top: 1px;
}

.content p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #707070;
  font-size: 48px;
  margin-left: 100px;
  line-height: 0.4;
}

.second-rectangle span {
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: normal;
  margin-left: 100px;
  text-align: left;
  padding-top: 70px;
}

.second-rectangle {
  background-color: #303030;
  height: 30vh;
  display: flex;
  color: #EDEBEB;
  font-size: 100px;
}

.input-form-div {
  width: 100%;
  margin: auto;
}


.song-list-div {
  width: 100%;
  margin: auto;
  border: 1px solid black;
}

.p1 {
  font-size:x-large;
  color: white;
  background-color: rgb(49, 45, 45);
  text-align: center;
  height: 50px;
  margin-top: 0%;
  margin-bottom: 0%;
  border: 0.5px solid black;
}

.p2 {
  color: rgb(209, 201, 91);
  background-color: rgb(242, 247, 248);
  text-align: center;
  height: 30px;
  margin-top: 0%;
  margin-bottom: 0%;
  border: 0.5px solid grey;
}

.p3 {
  color: rgb(126, 130, 141);
  background-color: rgb(242, 247, 248);
  margin-top: 0%;
  margin-bottom: 0%;
  height: 100px;
  text-align: center;
  border: 0.5px solid black;
}

h3 {
  margin-bottom: 1em;
  text-align: center;
  text-decoration: underline;
}

form {
  margin: 0 auto;
  border: 2px solid grey;
  padding: 1em;
  
}

.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

.form-row > label {
  width: 130px;
}

.form-row > input,
.form-row > select {
  padding: .5em;
  flex-grow: 1;
}


#songlist {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0;
  padding: 0;
}

#songlist li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid gray;
/*
  padding: 1em;
  margin-bottom: 1em;
*/
}

#songlist li p {
  flex-grow: 1;
  margin-left: 10px;
  max-width: 200px;
  vertical-align: top;
}
#songlist li span {
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
  max-width: 200px;
  vertical-align: top;
}

#songlist li input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

#songlist li button {
  width: 40px;
  height: 30px;
}

.item {
  border: 1px solid grey;
  margin-bottom: 2px;
}

.item-mood-row {
  margin-left: 5%;
  font-size: medium;
}

.item-song-row {
  background-color: aliceblue;
  display:flex;
  flex-direction: row;
  border-top: 1px solid gray;
}

.item-image {
  width: 50px;
}

.item-song-name {
  flex-grow: 2;
  font-size: small;
}

.item-created-time {
  flex-grow: 1;
  color: burlywood;
  font-size: small;
  text-align: right;
}

/*
#songs {
  margin-left: 2%;
  margin-right: 2%;
  column-count: 2;
  list-style-type: none;
}
*/

#songs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  margin-right: 3%;
}

#songs li {
  padding: 2px;
}

.column {
  float: left;
  width: 40%;
  padding: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(211, 202, 202); /* Fallback color */
  background-color: rgba(97, 80, 80, 0.4); /* Black w/ opacity */
}

.modal-display-area {
  margin: auto;
  display: block;
  width: 20%;
  margin-top: 10%;
  border: 1px solid black;
  background-color:white;
}

/* Modal Content (image) */
.modal-content {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: black;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
/*
  position: absolute;
  top: 15px;
  right: 35px;
*/
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  float: right;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}